<br><br>

<div class="h-100 p-5 text-white bg-dark rounded-3">
<h2>About the project</h2>
<p>This is a project based on the guidelines on the  <a href="https://docs.google.com/document/d/1z9LZ_kZBUbg-O2MhZVVSqTmvDko5IJWHtuFmIu_Xg1A/edit">Shopify 2022 Intern application</a>. 
It is a basic CRUD application which replicates an inventory management system. You are able to create inventory items, edit, 
view, and delete each of them, as well as view the entire inventory at once. This can be done by using the links in the top
navbar or with the links alongside each item in the group view page. This project was creating using Ruby on Rails, with active 
storage for the image component.

<br><br>The feature I chose to include from the provided list was <i>allowing image uploads and storing of the image with 
generated thumbnails</i>. Thank you for taking the time to look at my project and for the consideration of my application.
If you have any questions or advice to improve, my email is ferrucciosisti@gmail.com
<br><br><br><br><br><br><br><br><br>
</p>
</div>